@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.author-links {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    & a {
        margin: 0 3px;
        height: 24px;
        width: 24px;
        border: 0;
        & i {
            @include text-icon-unfocused;
        }

        &:hover,
        &:focus {
            & i {
                @include text-icon-active;
            }
        }
    }
}
