@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.static-page-container {
    position: relative;
    min-height: 100vh;
    @include dark {
        background-color: $color-dark-dp0;
    }
    @include light {
        background-color: $color-light-dp3;
    }
}