@import "variables";

:export {
    xsm: 480px; // small handset (landscape)
    sm: $layout-breakpoint-sm;
    md: $layout-breakpoint-md;
    xmd: $layout-breakpoint-xmd;
    lg: $layout-breakpoint-lg;
}
