/** 
 * Variables
 */

// Colors

// Light theme

// https://material.io/design/color/ (gray 50)
$color-light-dp0: #fafafa;
$color-light-dp1: #ffffff;
$color-light-dp2: #ffffff;
$color-light-dp3: #ffffff;

// https://material.io/design/color/text-legibility.html
$color-light-text: rgba(0, 0, 0, 0.87);
$color-light-text-strong: rgba(0, 0, 0, 1);
$color-light-text-medium: rgba(0, 0, 0, 0.6);
$color-light-text-weak: rgba(0, 0, 0, 0.38);
$color-light-text-link: #2196F3; // Blue 50 (500)

// https://material.io/design/iconography/system-icons.html#color
$color-light-icon-active: rgba(0, 0, 0, 0.87);
$color-light-icon-unfocused: rgba(0, 0, 0, 0.54);
$color-light-icon-inactive: rgba(0, 0, 0, 0.38);

// Dark theme

// https://material.io/design/color/dark-theme.html
$color-dark-bg: #121212;
$color-dark-dp0: $color-dark-bg;
$color-dark-dp1: lighten($color-dark-bg, 5%);
$color-dark-dp2: lighten($color-dark-bg, 7%);
$color-dark-dp3: lighten($color-dark-bg, 8%);

// https://material.io/design/color/text-legibility.html
$color-dark-text: rgba(255, 255, 255, 0.87);
$color-dark-text-strong: rgba(255, 255, 255, 1);
$color-dark-text-medium: rgba(255, 255, 255, 0.6);
$color-dark-text-weak: rgba(255, 255, 255, 0.38);
$color-dark-text-link: #2196F3; // Blue 50 (500)

// https://material.io/design/iconography/system-icons.html#color
$color-dark-icon-active: rgba(255, 255, 255, 1);
$color-dark-icon-unfocused: rgba(255, 255, 255, 0.7);
$color-dark-icon-inactive: rgba(255, 255, 255, 0.5);

// Typographic
$typographic-font-family: Roboto, sans-serif;

$typographic-root-font-size: 100;
$typographic-base-font-size: 16px;
$typographic-small-font-size: 14px;

$typographic-base-line-height: 1.625;

$typographic-leading: round(16 * ($typographic-root-font-size / 100) * $typographic-base-line-height);

$sidebar-width-pct: 0.25;
$content-width-pct: 0.65;

$max-layout-width: 1280px;
$bg-width: $max-layout-width - 120px;
$bg-shift: 110px;
$content-max-width: 660px;


// breakpoint - base - handset (portrait)
$sidebar-width-base: 100vw;
$content-width-base: 90vw;

$topbar-height: 48px;

// breakpoint - sm - tablet (portrait), handset (landscape)
$layout-breakpoint-sm: 600px;

$content-width-sm: 92vw;

// breakpoint - md - xlarge tablet (portrait), tablet (landscape), xlarge handset (landscape)
$layout-breakpoint-md: 900px;

$sidebar-width-md: 100vw * $sidebar-width-pct;
$content-width-md: 100vw * $content-width-pct;

$sidebar-side-margin-md: 30px;
$content-side-padding-md: calc(#{$sidebar-width-md} + #{$sidebar-side-margin-md} + 30px);

// breakpoint - lg - laptop, xlarge tablet (landscape)
$layout-breakpoint-lg: $max-layout-width;

$sidebar-width-lg: $max-layout-width * $sidebar-width-pct;
$content-width-lg: $max-layout-width * $content-width-pct;

$content-side-padding-lg: $sidebar-width-lg + $max-layout-width * 0.085;
$sidebar-side-margin-lg: ($content-side-padding-lg - $sidebar-width-lg) / 2.5;