// initially copied from littlefoot/dist/littlefoot.css

@import "./variables";
@import "./mixins";

$bg-color-light: $color-light-dp0;
$bg-color-dark: $color-dark-dp3;

.littlefoot-footnote {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    z-index: 10;

    max-width: 90%;
    margin: 2.01924em 0;
    line-height: 0;

    box-sizing: border-box;
    border-radius: .5em;

    @include light {
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
        border: 1px solid #c3c3c3;
        background-color: $bg-color-light;
    }
    @include dark {
        border: 1px solid $bg-color-dark;
        background-color: $bg-color-dark;
    }

    opacity: 0;
    transform-origin: 50% 0;
    transform: scale(0.1) translateZ(0);
    transition:
        opacity .25s ease,
        transform .25s ease,
    ;

    &.is-active {
        opacity: 1;
        transform: scale(1) translateZ(0);
    }

    &__button {
        position: relative;
        display: inline-block;

        border: none;
        -webkit-font-smoothing: antialiased;
        backface-visibility: hidden;
        box-sizing: border-box;
        cursor: pointer;

        text-decoration: none;
        font-weight: bold;
        line-height: 1;

        font-size: .75em;
        vertical-align: middle;
        top: -.1em;

        height: 1.6em;
        min-width: 1.5em;
        margin: 0 .1em 0 .2em;
        padding: 0 .35em;
        border-radius: .7em;

        @include text-weak;
        @include light {
            background-color: rgba(210, 210, 210, 0.3);
        }
        @include dark {
            background-color: rgba(110, 110, 110, 0.4);
        }

        &:hover,
        &:focus,
        &:active {
            @include text-medium;
            @include light {
                background-color: rgba(210, 210, 210, 0.5);
            }
            @include dark {
                background-color: rgba(110, 110, 110, 0.6);
            }
        }

        &.is-active {
            @include text-normal;
            @include light {
                background-color: rgba(210, 210, 210, 0.9);
            }
            @include dark {
                background-color: rgba(110, 110, 110, 0.8);
            }
        }

        &::after {
            clear: both;
            content: '';
            display: table;
        }

        &__ellipsis {
            padding: .35em .5em;
            & svg {
                float: left;
                height: .3em;
            }
        }
    }

    &__host {
        display: inline-block;
        position: relative;
        text-indent: 0;
    }

    &.is-positioned-top {
        bottom: 0;
        top: auto;
    }

    &.is-scrollable::after {
        content: '';
        position: absolute;
        bottom: .3375em;
        left: .3375em;
        z-index: 14;
        display: block;
        height: .78125em;
        width: .625em;
        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTJweCIgaGVpZ2h0PSIxNXB4IiB2aWV3Qm94PSIwIDAgMTIgMTUiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgcHJlc2VydmVBc3BlY3RSYXRpbz0ieE1pbllNaW4iPgogICAgPGcgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGcgaWQ9IkFycm93IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxLjAwMDAwMCwgMS4wMDAwMDApIiBzdHJva2U9ImJsYWNrIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJzcXVhcmUiPgogICAgICAgICAgICA8cGF0aCBkPSJNNSwwIEw1LDExLjUiIGlkPSJMaW5lIj48L3BhdGg+CiAgICAgICAgICAgIDxwYXRoIGQ9Ik0wLjUsNy41IEw1LjAyNzY5Mjc5LDEyLjAyNzY5MjgiIGlkPSJMaW5lIj48L3BhdGg+CiAgICAgICAgICAgIDxwYXRoIGQ9Ik00LjUsNy41IEw5LjAyNzY5Mjc5LDEyLjAyNzY5MjgiIGlkPSJMaW5lLTIiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDcuMDAwMDAwLCAxMC4wMDAwMDApIHNjYWxlKC0xLCAxKSB0cmFuc2xhdGUoLTcuMDAwMDAwLCAtMTAuMDAwMDAwKSAiPjwvcGF0aD4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPgo=");
        background-size: cover;
        @include light {
            opacity: .3;
        }
        @include dark {
            border-radius: 2px;
            background-color: lighten($color-dark-dp3, 10%);
        }

        transition:
            opacity .25s ease,
        ;
    }
    
    &.is-scrollable &__wrapper::before,
    &.is-scrollable &__wrapper::after {
        content: '';
        left: 0;
        position: absolute;
        width: 100%;
        z-index: 12;
    }
    
    &.is-scrollable ::-webkit-scrollbar {
        display: none;
    }
    
    &.is-fully-scrolled::after,
    &.is-fully-scrolled::before {
        opacity: 0;
    }

    
    &__wrapper {
        box-sizing: inherit;
        display: inline-block;
        line-height: 0;
        margin: 0;
        overflow: hidden;
        position: relative;
        width: 22em;
        z-index: 14;
    }

    &__content {
        -webkit-font-smoothing: subpixel-antialiased;
        -webkit-overflow-scrolling: touch;
        border-radius: .5em;
        box-sizing: inherit;
        display: inline-block;
        line-height: normal;
        font-size: initial;
        font-weight: initial;
        max-height: 15em;
        overflow: auto;
        padding: 1.1em 1.3em 1.2em;
        position: relative;
        z-index: 8;

        @include text-normal;
        @include light {
            background-color: $bg-color-light;
        }
        @include dark {
            background-color: $bg-color-dark;
        }

        & img {
            max-width: 100%;
        }
        & *:first-child {
            margin-top: 0;
        }
    
        & *:last-child {
            margin-bottom: 0;
        }
    }

    &__tooltip {
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
        box-sizing: border-box;
        height: 1.3em;
        margin-left: -0.65em;
        position: absolute;
        transform: rotate(45deg);
        width: 1.3em;
        z-index: 12;

        @include light {
            border-top-left-radius: 0;
            border: 1px solid #c3c3c3;
            background-color: $bg-color-light;
        }
        @include dark {
            background-color: $bg-color-dark;
        }

        .is-positioned-bottom & {
            top: -0.65em;
        }
        
        .is-positioned-top & {
            bottom: -0.65em;
        }
    }
    
}

@media not print {
    .footnote-print-only {
        display: none !important
    }
}

@media print {
    .littlefoot-footnote, .littlefoot-footnote__button {
        display: none !important
    }
}

@media (max-width: 720px) {
    .littlefoot-footnote {
        border-radius: 0;
        border-width: 1px 0 0;
        bottom: 0;
        left: 0 !important;
        margin: 0;
        opacity: 1;
        position: fixed;
        right: auto;
        top: auto;
        transform: translateY(100%);
        width: 100%;
        transition:
            transform 0.3s ease,
        ;


        &.is-active {
            transform: translateY(0);
        }
        & &__wrapper {
            margin: 0;
            max-width: 100% !important;
            transform: none;
            width: 100%;
        }

        & &__wrapper, & &__content {
            border-radius: 0;
        }

        & &__tooltip {
            display: none;
        }
    }
}



