@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.post-series-box {
    text-align: center;
    text-shadow: 0px 2px 3px -1px rgba(0,0,0,0.1);
    margin-top: 15px;
    margin-bottom: 20px;
    @include font-family($font-family-roboto, $font-family-roboto);
    
    &__content {
        width: 100%;
        max-width: round($max-content-width * 0.5);
        overflow: hidden;
        display: inline-block;
        border-radius: 10px;
        @include bg-color(rgba(0, 0, 0, 0.02), $color-dark-dp2);
    }
    
    &__title {
         margin: 0;
         padding: 5px 0px 5px 0px;
         text-align: center;

        @include light {
            border-bottom: 1px solid rgba(0, 0, 0, 0.02);
        }
        @include dark {
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }
        @include text-normal;
         

         @include font-family($font-family-roboto, $font-family-arimo);
         @include font-size(1);
         font-weight: 300;
         font-style: italic;
         line-height: 1.8rem;
    }

    &__nav {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 5px 0 5px 0;

        @include text-normal;

        &-link {
            border-radius: 3px;
            padding: 1px 5px;
            &:active {
                box-shadow: inset 0px 2px 6px -3px rgba(0,0,0,0.2);
            }
        }
        &-item {
            margin: 0;
            padding: 0;
            @include font-size(0.9);
            font-style: italic;

            width: 20%;
            text-align: center;

            &:nth-child(3) {
                text-shadow: 0px 2px 3px rgba(0,0,0,0.15);
            }
        }
    }
}

@include breakpoint-md {
    .post-series-box {
        margin-top: 30px;

        &__nav {
            &-item {
                &:nth-child(2) {
                    @include ltr {
                        text-align: left;
                    }
                    @include rtl {
                        text-align: right;
                    }
                }
                &:nth-child(4) {
                    @include ltr {
                        text-align: right;
                    }
                    @include rtl {
                        text-align: left;
                    }
                }
            }
        }
    }
}