@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.post-series-box {
    text-align: center;
    text-shadow: 0px 2px 3px -1px rgba(0,0,0,0.1);
    margin-top: 1rem;
    margin-bottom: -0.5rem;

    @include font-family($font-family-roboto, $font-family-roboto);
    @include light {
        opacity: 0.8;
        @include theme-transition("opacity 0.4s");
    }

    line-height: 1.5rem;
    
    &__title {
        margin: 0;
        padding: 5px 0px 5px 0px;
        text-align: center;

        @include font-size(1);
        font-weight: 300;
    }

    &__subtitle {
        margin: 0;
        padding: 0;
        text-align: center;

        @include text-normal;
        @include font-size(0.9);
        font-weight: 400;

        &::before {
            @include english {
                content: "Part "
            }
            @include hebrew {
                content: "חלק "
            }
        }
    }

    &__list {
        list-style: none;
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        &-item {
            &:not(.middle) {
                width: 7%;
            }
            &.middle {
                width: 78%;
            }
        }   
    }

    &__link {
        @include text-icon-unfocused;
        @include font-size(0.8);
        @include ltr {
            .backwards::before {
                transform: scaleX(-1);
            }
        }
        @include rtl {
            .forwards::before {
                transform: scaleX(-1);
            }
        }
    }
}

@include breakpoint-md {
    .post-series-box {
        margin-bottom: -1rem;
    }
}