@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.posts {
    margin-right: $page-base-padding-left;
    margin-left: $page-base-padding-right;
}

@include breakpoint-sm {
    .posts {
        margin-left: $page-sm-padding-left;
        margin-right: $page-sm-padding-right;
    }

}

@include breakpoint-md {
    .posts {
        margin-left: $page-md-padding-left;
        margin-right: $page-md-padding-right;
    }
}