/**
 * Language control
 */

@mixin ltr {
    .ltr & {
        direction: ltr;
        @content;
    }
}

@mixin rtl {
    .rtl & {
        direction: rtl;
        @content;
    }
}

@mixin english {
    .english & {
        @content;
    }
}

@mixin hebrew {
    .hebrew & {
        @content;
    }
}

@mixin font-family($english, $hebrew) {
    @include english {
        font-family: $english;
    }
    @include hebrew {
        font-family: $hebrew;
    }
}