/**
 * Language control
 */

@mixin ltr {
    .ltr & {
        direction: ltr;
        @content;
    }
}

@mixin rtl {
    .rtl & {
        direction: rtl;
        @content;
    }
}

@mixin english {
    .english & {
        direction: ltr;
        @content;
    }
}

@mixin hebrew {
    .hebrew & {
        direction: rtl;
        @content;
    }
}