@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.notfound {
    padding-top: 30vh;
    text-align: center;
    max-width: 90vw;
    margin: 0 auto;
    &__title {
        @include font-size(2);
        margin: 0;
        margin-bottom: 1rem;
    }
    &__subtitle {
        @include font-size(1);
        margin: 0;
        margin-bottom: 1rem;
    }
    &__link {
        @include font-size(1);
        margin: 0;
    }
}

@include breakpoint-md {
    .notfound {
        &__title {
            margin-bottom: 1.5rem;
        }
        &__subtitle {
            @include font-size(1.2);
            margin-bottom: 1.5rem;
        }
        &__link {
            @include font-size(1.2);
        }
    }
}