@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.category-header {
    width: 95%;

    box-shadow: inset 0px 2px 6px -2px rgba(0,0,0,0.3);
    @include layer1;

    margin: auto;
    margin-top: -6px;
    padding-top: 10px;
    margin-bottom: 1.5rem;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
    &__menu {
        position: relative;
        
        &-list {
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;
            padding: 0;
            margin: 0;
            margin-bottom: 5px;
    
            &-item {
                padding-bottom: 5px;
                text-align: center;
                margin-bottom: 0;
                margin-right: 0.2rem;
                margin-left: 0.2rem;
                &-link {
                    font-size: $typographic-base-font-size * 0.8;
                    font-weight: 400;
                    border: 0;
                    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 

                    @include text-normal;
                }
            }
        }

        &-underline {
            display: block;
            position: absolute;
            width: 0;
            bottom: 0;
            height: 2px;
            z-index: 0;
            
            background: gray;
            @include dark {
                background-color: $color-dark-text;
            }

            @include ltr {
                transition: 
                    left 0.3s ease-out,
                    width 0.15s ease-out;
            }
            @include rtl {
                transition: 
                    right 0.3s ease-out,
                    width 0.15s ease-out;
            }
        }
    }
}

@include breakpoint-sm {
    .category-header {
        margin-top: -3px;
        padding-top: 10px;

        box-shadow: inset 0px 2px 5px -2px rgba(0,0,0,0.6);
        @include layer3;

        &__menu {
            &-list {
                &-item {
                    margin-right: 2rem;
                    margin-left: 2rem;
                    padding-bottom: 7px;
                    &-link {
                        font-size: $typographic-base-font-size;
                    }
                }
            }

            &-underline {
                height: 1px;
                box-shadow: 0px 5px 6px -1px rgba(0, 0, 0, 0.5);
                background-color: rgba(0, 0, 0, 0.4);
            }
        }
        
    }
}