@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.profile-img {
    &-mousemove {
        display: none;
    }
}

@include breakpoint-sm {
    .profile-img {
        &-mousemove {
            display: unset;
        }
        &-touchmove {
            display: none;
        }
    }
}