@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.page {
    padding-top: 15px;

    &__body {
        line-height: 1rem;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
    }
}

@include breakpoint-md {
    .page {
        padding-top: 5vh;
        
        &__body {
            @include font-size(1);
        }
    }
}