@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.page {
    padding-top: 15px;

    &__body {
        line-height: 1rem;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
    }
    h1 {
        margin-bottom: 0.5rem;
    }
    h2 {
        margin: 1rem 0;
    }
    p {
        margin-top: 0;
    }
}

@include breakpoint-md {
    .page {
        padding-top: 5vh;
        
        &__body {
            @include font-size(1);
        }
        h1 {
            margin-bottom: unset;
            margin: 0;
        }
        h2 {
            margin: unset;
            margin-top: 2rem;
            margin-bottom: 0.5rem;
        }
        p {
            margin-top: 1rem;
        }
    }
}