@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

html {
    overflow-y: scroll;
}

.page-container {
    position: relative;
    min-height: 100vh;
    
    max-width: $layout-breakpoint-lg;
    margin: 0 auto;
}

.content-wrap {
    lost-center: $layout-width;
    padding-bottom: $footer-padding;
}

@include breakpoint-xlg {
    .page-container {
        max-width: $layout-breakpoint-xlg;
    }
}