@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.page-container {
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    lost-center: $layout-width;
    padding-bottom: $footer-padding;
}