@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

html {
    overflow-y: scroll;
}

.page-container {
    position: relative;
    min-height: 100vh;

    z-index: 0;

    @include dark {
        background-color: $color-dark-bg;
    }
}

.content-bg {
    position: fixed;
    z-index: 1;
    height: 100vh;
    overflow-x: hidden;
    
    @include ltr {
        left: -$bg-shift;
        right: 0;
    }
    @include rtl {
        left: 0;
        right: -$bg-shift;
    }
    width: $bg-width;
    margin: 0 auto;

    @include dark {
        background-color: $color-dark-dp1;
    }
}

.content-wrap {
    padding-top: $topbar-height;
    padding-bottom: $footer-padding;
    
    max-width: $max-layout-width;
    margin: 0 auto;

    position: sticky;
    z-index: 2;
}

@include breakpoint-md {
    .content-wrap {
        padding-top: unset;
        @include rtl {
            text-align: right;
        }
    }
}