@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.series-title {
    @include font-family($font-family-roboto, $font-family-arimo);
    margin-top: 1rem;
    line-height: 1rem;
    &__text {
        @include font-size(1.25);
        font-weight: 700;
        margin: 0;
        line-height: 1.3rem;
        margin-bottom: 0.15rem;
    }
}

@include breakpoint-sm {
    .series-title {
        &__text {
            @include font-size(1.5);
        }
    }
}
@include breakpoint-md {
    .series-title {
        margin-bottom: 0.7rem;
    }
}