@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.posts {
    max-width: $content-max-width;
    width: $content-width-base;
    margin: 0 auto;
}

@include breakpoint-sm {
    .posts {
        width: $content-width-sm;
    }

}

@include breakpoint-md {
    .posts {
        width: $content-width-md;
        margin: unset;
        @include ltr {
            padding-left: $content-side-padding-md;
        }
        @include rtl {
            padding-right: $content-side-padding-md;
        }
    }
}

@include breakpoint-lg {
    .posts {
        width: $content-width-lg;
        margin: unset;
        @include ltr {
            padding-left: $content-side-padding-lg;
        }
        @include rtl {
            padding-right: $content-side-padding-lg;
        }
    }   
}