@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.posts {
    padding-right: $page-base-padding-left;
    padding-left: $page-base-padding-right;

    &__title {
        @include margin-top(0.5);
        font-size: $typographic-base-font-size * 2.5;
        font-weight: 500;
        @include margin-bottom(0);
        text-align: center;
    }
}

@include breakpoint-sm {
    .posts {
        padding-left: $page-sm-padding-left;
        padding-right: 5%;
    }
}

@include breakpoint-md {
    .posts {
        padding-left: $page-md-padding-left;
        padding-top: $page-md-padding-top;
        padding-right: 10%;
    }
}