@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.home {
    padding-top: 20vh;
    text-align: center;
    width: 100%;
    position: relative;

    &__author {
        &-img {
            height: 90px;
            width: 90px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            @include margin-bottom(.5);
        }
        &-title {
            font-size: $typographic-base-font-size * 1.125;
            font-weight: 500;
            @include text-normal;
            @include line-height(1.125);
            @include margin(0, 0, 0, 0);
        }
        &-subtitle {
            font-size: $typographic-base-font-size * 0.8;
            @include text-medium;
            @include margin(0, 0, 0, 0);
            @include line-height(1.5);
        }
        &-icons {
            font-size: $typographic-base-font-size * 0.9;
        }
    }

    &__site-links {
        &-list {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        &-item {
            &-link {
                text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
                font-size: $typographic-base-font-size * 0.9;
                font-weight: 500;
                border: 0;
                @include text-normal;
                &:hover,
                &:focus {
                    @include text-link;
                }
            }
        }
    }
}

@include breakpoint-sm {
    .home {
        padding-top: 35vh;

        &__author {
            &-img {
                height: 115px;
                width: 115px;
            }
            &-title {
                font-size: $typographic-base-font-size * 1.4;
            }
            &-subtitle {
                font-size: $typographic-base-font-size * 1;
                @include line-height(2);
            }
            &-icons {
                font-size: $typographic-base-font-size * 1;
            }
        }
    }
}

@include breakpoint-md {
    .home {
        position: fixed;
        width: 100vw;
        left: 0;
        top: 0;
        height: 100vh;

        @include layer1;
        padding-top: 25vh;

        &__author {
            &-img {
                height: 145px;
                width: 145px;
            }
        }
    }
}