@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.post-item {
    margin-top: 0.8rem;
    min-height: 2.5rem;
    @include font-family($font-family-segoe, $font-family-arimo);
    &:last-child {
        margin-bottom: 2.5rem;
    }
}

@include breakpoint-md {
    .post-item {
        display: flex;
        justify-content: flex-start;
        margin-top: unset;

        &:last-child {
            margin-bottom: 3.5rem;
        }
    }
}

@import './time.scss';
@import './details.scss';