@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

@import "./common.scss";

.sidebar {
    width: $sidebar-width-base;
    @include font-family($font-family-segoe, $font-family-arimo);

    position: fixed;
    display: flex;

    z-index: $base-zindex;
    top: 0;
    height: $topbar-height - $shadow-height;

    @include layer3;
    @include light {
        box-shadow: 0px $shadow-height 8px -2px rgba(0,0,0,0.16);
    }

    @include theme-transition(' \
        transform 0.5s ease-out, \
    ');

    @include disabled {
        transform: translateY(-$topbar-height - 10);
    }

    &__theme-button {
        @include button;
    }
}

@include breakpoint-md {
    .sidebar {
        width: $sidebar-width-md;

        display: unset;
        z-index: unset;

        top: -10px;
        height: 70vh;
        padding-top: calc(30vh + 10px);

        @include ltr {
            margin-left: $sidebar-side-margin-md;
        }
        @include rtl {
            margin-right: $sidebar-side-margin-md;
        }

        @include theme-transition;
        text-align: center;

        @include layer2;
        @include light {
            box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.3);
        }

        @include disabled {
            transform: unset;
        }

        &__theme-button {
            padding-top: 35px;
        }
    }

}

@include breakpoint-xmd {
    .sidebar {
        width: $sidebar-width-xmd;

        @include ltr {
            margin-left: $sidebar-side-margin-xmd;
        }
        @include rtl {
            margin-right: $sidebar-side-margin-xmd;
        }
    }
}

@include breakpoint-lg {
    .sidebar {
        width: $sidebar-width-lg;

        @include ltr {
            margin-left: $sidebar-side-margin-lg;
        }
        @include rtl {
            margin-right: $sidebar-side-margin-lg;
        }
    }
}

@import "./author.scss";
@import "./menu.scss";
@import "./contact.scss";
