@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

$img-size: 30px;
$top-padding: $img-size / 3;
$bottom-padding: 10px;
$button-side-padding: 10px;
$transition-timing: 0.2s;

.sidebar {

    &__main {
        width: 100%;
        position: relative;
        border-bottom: 1px solid #E7E7E7;
        display: inline-block;
    }

    &__author {
        &-img {
            display: inherit;
            height: $img-size;
            width: $img-size;
            position: absolute;
            left: 32%;
            transform: translate(0, $top-padding - 2px);
            
            &-enabled {
                transition: opacity $transition-timing ease-in;
                opacity: 1;
            }
            &-disabled {
                opacity: 0;
            }
        }
        &-title {
            position: absolute;
            left: 57%;
            transform: translate(-50%, $top-padding);
            display: inherit;
            font-size: $typographic-base-font-size * 1;
            font-weight: 500;

            &-enabled {
                transition: opacity $transition-timing ease-in;
                opacity: 1;
            }
            &-disabled {
                opacity: 0;
            }
        }
        &-subtitle {
            display: none;
            font-size: $typographic-base-font-size * 0.8;
            color: $color-gray;
            @include margin(0, 0, 0, 0);
            @include line-height(1.5);
        }
    }
    
    &__menu {
        overflow: hidden;
        position: absolute;
        z-index: 10;
        transition: width $transition-timing ease-out;
        padding-top: $top-padding;
        padding-bottom: $bottom-padding;

        &-enabled {
            width: 100vw;
        }
        &-disabled {
            width: 0;
        }
        
        &-button {
            position: relative;
            z-index: 11;
            display: inherit;
            float: left;
            background-color: transparent;
            border: none;
            padding-left: $button-side-padding;
            padding-right: $button-side-padding;
            height: $img-size * 1.5;
            width: $img-size * 1.5;
            border-right: 1px solid #E7E7E7;
            outline: none;

            &-enabled {
                color: $color-primary;
            }
        }

        &-list {
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;
            padding: 0;
            margin: 0;
            &-item {
                // margin: 10px 0;
                &-link {
                    font-size: $typographic-base-font-size;
                    color: $typographic-base-font-color;
                    font-weight: 400;
                    border: 0;
                    &:hover,
                    &:focus {
                        color: $color-primary;
                        border-bottom: 1px solid $color-primary;
                    }
                    &--active {
                        color: $color-base;
                        border-bottom: 1px solid $color-base;
                    }
                }
            }
        }
    }

    &__contact {
        overflow: hidden;
        position: absolute;
        z-index: 10;
        transition: width $transition-timing ease-out;
        padding-top: $top-padding;
        padding-bottom: $bottom-padding;

        right: 0;
        font-size: $typographic-base-font-size * 0.9;
        transform: translate(0, 1px);

        &-enabled {
            width: 80vw;
        }
        &-disabled {
            width: 0;
        }
    
        &-button {
            position: relative;
            z-index: 11;
            display: inherit;
            float: right;
            background-color: transparent;
            border: none;
            padding-left: $button-side-padding;
            padding-right: $button-side-padding;
            height: $img-size * 1.5;
            width: $img-size * 1.5;
            border-left: 1px solid #E7E7E7;
            outline: none;

            &-enabled {
                color: $color-primary;
            }
        }
    }
}

@include breakpoint-sm {
    .sidebar {
        &__main {
            border-bottom: unset;
            padding-bottom: unset;
            position: fixed;
            lost-column: 2/9;
            padding-top: 30vh;
            &:after {
                background: $color-gray-border;
                background: linear-gradient(to bottom, $color-white 0%, $color-gray-border 48%, $color-white 100%);
                position: absolute;
                content: "";
                width: 1px;
                height: 540px;
                top: 30px;
                right: -10px;
                bottom: 0;
            }
        }
    }
}

@include breakpoint-md {
    .sidebar {
        &__main {
            lost-column: 1/4;
            padding-top: 25vh;
        }
        &__author {
            &-img {
                height: 115px;
                width: 115px;
            }
        }
    }
}
