@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

$img-size-base: 30px;
$img-size-md: 85px;
$img-size-lg: 115px;


$top-padding: $img-size-base / 3;
$bottom-padding: 10px;
$transition-timing: 0.2s;

$shadow-height: 4px;

$button-size: $img-size-base * 1.5;

@mixin button {
    height: $button-size;
    width: $button-size;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    @include text-icon-unfocused;
    @include enabled {
        @include text-icon-active;
    }
}

.sidebar {
    width: $sidebar-width-base;
    
    position: fixed;
    display: flex;
    
    z-index: 1;
    top: 0;
    height: $topbar-height - $shadow-height;

    @include layer3;
    @include light {
        box-shadow: 0px $shadow-height 8px -2px rgba(0,0,0,0.16);
    }

    @include theme-transition("
        transform 0.5s ease-out,
    ");
    
    @include disabled {
        transform: translateY(-$topbar-height - 10);
    }

    &__author {
        &-img {
            height: $img-size-base;
            width: $img-size-base;

            display: flex;
            flex-direction: column;
            justify-content: center;

            position: absolute;
            top: ($topbar-height - $img-size-base) / 2 - 1;
            left: calc(46vw - #{$img-size-base} - 20px);

            @include enabled {
                @include theme-transition("
                    opacity #{$transition-timing} ease-in,
                ");
                opacity: 1;
            }
            @include disabled {
                opacity: 0;
            }
        }
        &-title {
            height: $topbar-height;

            display: flex;
            flex-direction: column;
            justify-content: center;

            position: absolute;
            top: -2px;
            left: 47vw;

            font-size: $typographic-base-font-size * 1;
            font-weight: 500;

            @include text-normal;

            @include enabled {
                @include theme-transition("
                    opacity #{$transition-timing} ease-in
                ");
                opacity: 1;
            }
            @include disabled {
                opacity: 0;
            }
        }
        &-subtitle {
            display: none;
        }
    }
    
    &__menu {
        &-container {
            position: absolute;
        }

        position: absolute;
        overflow: hidden;
        padding-top: $top-padding;
        padding-bottom: $bottom-padding;
        width: calc(100vw - #{$button-size} * 3.5);

        @include ltr {
            left: $button-size * 2;
        }
        @include rtl {
            left: $button-size * 1.8;
            text-align: right;
        }

        @include enabled {
            transition:
                width #{$transition-timing} ease-out,
                opacity #{$transition-timing} cubic-bezier(0,0,1,0),
            ; 
            opacity: 1;
        }
        @include disabled {
            transition:
                width #{$transition-timing} ease-out,
                opacity #{$transition-timing} / 2 cubic-bezier(0,1,1,1),
            ;
            opacity: 0;
        }

        &.visible {
            @include enabled {
                z-index: 1;
            }
            @include disabled {
                width: 0;
            }
        }

        &.hidden {
            z-index: 0;
        }
        
        &-list {
            &.hidden {
                visibility: hidden;
            }
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;
            padding: 0;
            margin: 0;
            &-item {
                margin-bottom: 0;
                &-link {
                    font-size: $typographic-base-font-size;
                    font-weight: 400;
                    border: 0;

                    @include text-normal;
                }
            }
        }

        &-underline {
            &.visible {
                visibility: hidden;
            }
            display: block;
            position: absolute;
            width: 0;
            bottom: 2px;
            height: 2px;
            z-index: 0;

            @include light {
                background-color: $color-light-text;
            }
            @include dark {
                background-color: $color-dark-text;
            }

            @include theme-transition("
                left #{$transition-timing} ease-out,
                right #{$transition-timing} ease-out,
            ");
        }

        &-button {
            @include button;
        }
    }

    &__contact {
        overflow: hidden;
        position: absolute;
        padding-top: $top-padding;
        padding-bottom: $bottom-padding;

        right: 0;
        font-size: $typographic-base-font-size * 0.9;
        transform: translate(0, 1px);

        @include enabled {
            @include theme-transition("
                width #{$transition-timing} ease-out,
                opacity #{$transition-timing} cubic-bezier(0,0,1,0),
            ");
            opacity: 1;
            width: 80vw;
        }
        @include disabled {
            @include theme-transition("
                width #{$transition-timing} ease-out,
                opacity #{$transition-timing} / 2 cubic-bezier(0,1,1,1),
            ");
            opacity: 0;
            width: 0;
        }
    
        &-button {
            @include button;

            position: absolute;
            top: 0;
            right: 0;
        }
    }

    &__theme-button {
        @include button;
    }
}

@include breakpoint-md {
    .sidebar {
        width: $sidebar-width-md;

        display: unset;
        z-index: unset;
        
        top: -10px;
        height: 70vh;
        padding-top: calc(30vh + 10px);
        
        @include ltr {
            margin-left: $sidebar-side-margin-md;
        }
        @include rtl {
            margin-right: $sidebar-side-margin-md;
        }

        @include theme-transition;
        text-align: center;

        @include layer2;
        @include light {
            box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.3);
        }

        @include disabled {
            transform: unset;
        }

        &__author {
            &-img {
                display: block;
                margin-left: auto;
                margin-right: auto;
                @include margin-bottom(.5);

                height: $img-size-md;
                width: $img-size-md;

                position: unset;
                transform: unset;
                @include disabled {
                    opacity: unset;
                }
            }
            &-title {
                display: inherit;
                position: unset;
                height: unset;
                transform: unset;
                @include disabled {
                    opacity: unset;
                }
            }
            &-subtitle {
                display: unset;
                font-size: $typographic-base-font-size * 0.7;
                @include text-medium;
            }
        }
        
        &__menu {
            &-container {
                position: unset;
            }

            position: unset;
            overflow: unset;
            padding-top: unset;
            padding-bottom: unset;
            width: unset;

            @include disabled {
                opacity: unset;
                width: unset;
            }

            &.visible {
                @include enabled {
                    z-index: unset;
                }
                @include disabled {
                    width: unset;
                }
            }
    
            &.hidden {
                display: none;
            }

            padding-top: 14px;
            @include light {
                box-shadow: 0px -3px 4px -3px rgba(0, 0, 0, 0.05);
            }
            @include dark {
                box-shadow: 0px -3px 3px -3px rgba(255, 255, 255, 0.1);
            }

            &-list {
                &-item {
                    &-link {
                        text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
                        &:hover,
                        &:focus {
                            @include text-normal;
                        }
                    }
                }
            }

            &-underline {
                &.visible {
                    visibility: unset;
                }
                position: relative;
                height: 2px;
                margin-top: 5px;
                bottom: 0;
            }

            &-button {
                display: none;
            }
        }

        &__contact {
            overflow: unset;
            position: unset;
            padding-top: unset;
            padding-bottom: unset;
            right: unset;
            transform: unset;

            &-button {
                display: none;
            }
            @include enabled {
                width: unset;
            }
            @include disabled {
                opacity: unset;
                width: unset;
            }
        }

        &__theme-button {
            padding-top: 35px;
        }
    }

}

@include breakpoint-lg {
    .sidebar {
        width: $sidebar-width-lg;

        @include ltr {
            margin-left: $sidebar-side-margin-lg;
        }
        @include rtl {
            margin-right: $sidebar-side-margin-lg;
        }

        &__author {
            &-img {
                height: $img-size-lg;
                width: $img-size-lg;
            }
            &-title {
                font-size: $typographic-base-font-size * 1.125;
            }
            &-subtitle {
                font-size: $typographic-base-font-size * 0.8;
                @include line-height(1.5);
            }
        }
    }
}