@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.footer {
    position: absolute;
    height: 30px;
    width: 100%;
    bottom: 0;
    z-index: 2;

    padding-top: 10px;
    padding-bottom: 25px;
    
    @include layer2;
    @include light {
        border-top: 1px solid #E7E7E7;
    }
    @include text-normal;
    
    &__center {
        font-size: 0.9rem;
        text-align: center;
    }

    
    &__links {
        font-size: 0.8rem;
    }
    
    &__feed {
        &-box {
            position: absolute;
            bottom: 20px;
            @include ltr {
                right: 5vw;
            }
            @include rtl {
                left: 5vw;
            }
        }
        
        font-size: 0.9rem;
        & i {
            @include text-icon-unfocused;
        }
        &:hover,
        &:focus {
            & i {
                @include text-icon-active;
            }
        }
    }
}

@include breakpoint-md {
    .footer {
        padding-bottom: 30px;

        @include layer3;

        &__center {
            font-size: 1rem;
        }

        &__feed {
            &-box {
                @include ltr {
                    right: 2vw;
                }
                @include rtl {
                    left: 2vw;
                }
            }
        }
    }
}