@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.post {
    &:last-child {
        @include margin-bottom(.5);
    }
    & time {
        @include line-height(1.5);
        font-size: $typographic-small-font-size;
        float: right;
    }
    & header {
        font-size: $typographic-base-font-size * 1.3;
        margin-top: 1rem;
    }
    & footer {
        font-size: $typographic-small-font-size;
        line-height: 1.625rem;
        & .divider {
            margin-right: 0.8125rem;
            margin-left: 0.8125rem;
            border-left: 0.075rem solid $color-gray-border;
        }
        & .tagDivider {
            margin-right: 0.3125rem;
            margin-left: 0.3125rem;
        }
    }
}