@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

@mixin shift($shift) {
    @include ltr {
        left: $shift;
    }
    @include rtl {
        right: $shift;
    }
}

.category-menu {
    position: relative;
    width: 100vw;
    @include font-family($font-family-lato, $font-family-arimo);
    
    margin-top: 0.7rem;
    margin-bottom: 1rem;

    left: calc((100vw - #{$content-width-base}) / -2);
    
    &-list {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        padding: 0;
        margin: 0;

        @include light {
            border-top: 1px solid rgba(0,0,0,0.15);
            border-bottom: 1px solid rgba(0,0,0,0.15);
        }
        @include dark {
            border-top: 1px solid rgba(255,255,255,0.15);
            border-bottom: 1px solid rgba(255,255,255,0.15);
        }

        padding-top: 4px;
        padding-bottom: 7px;
        
        &-item {
            z-index: 2;
            margin: 0 0.2rem;
            &-link {
                font-size: $typographic-base-font-size * 0.8;
                font-weight: 400;
                border: 0;
                text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 

                @include text-icon-inactive;

                &.selected {
                    @include text-icon-active;
                }
            }
        }
    }

    &-slider {
        display: none;
    }
}

@include breakpoint-sm {
    .category-menu {
        left: calc((100vw - #{$content-width-sm}) / -2);
    }
}

@include breakpoint($max-content-width) {
    .category-menu {
        left: calc((100vw - #{$max-content-width}) / -2);
    }
}

@include breakpoint-md {
    .category-menu {
        width: $sidebar-side-margin-md;

        margin-top: 1.5rem;
        margin-bottom: 1rem;

        @include shift(-$content-side-padding-md);

        &-list {
            padding: 1rem 0;

            &-item {
                margin: 0 2rem;
                &-link {
                    font-size: $typographic-base-font-size;
                }
            }
        }
    }
}

@include breakpoint-xmd {
    .category-menu {
        $bg-side-margin: calc((100vw - #{$bg-width}) / 2);
        width: calc(#{$sidebar-side-margin-xmd} - #{$bg-side-margin});
        @include shift(calc(#{$content-side-padding-xmd} * -1 + #{$bg-side-margin}));
    }
}

@include breakpoint-lg {
    .category-menu {
        $bg-side-margin: round(($max-layout-width - $bg-width) / 2);
        width: $sidebar-side-margin-lg - $bg-side-margin;
        @include shift($content-side-padding-lg * -1 + $bg-side-margin);
    }
}