@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.page-container {
    position: relative;
    min-height: 100vh;

    @include text-normal;
}

.surface0 {
    @include layer0;

    position: fixed;
    top: 0;
    height: calc(100vh + 1px);
    width: 100vw;
}

.surface1 {
    @include layer1;

    position: fixed;
    height: 100vh;
    width: $bg-width;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;

    @include light {
        box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.15);
    }
}

.content-wrap {
    padding-top: $topbar-height;
    padding-bottom: 2.5rem;
    
    max-width: $max-layout-width;
    margin: 0 auto;

    position: sticky;
    z-index: 2;
}

.content {
    max-width: $max-content-width;
    width: $content-width-base;
    margin: 0 auto;

    @include font-family($font-family-raleway, $font-family-arimo);
}

@include breakpoint-sm {
    .content {
        width: $content-width-sm;
    }
}


@include breakpoint-md {
    .content-wrap {
        padding-top: 0;
        @include rtl {
            text-align: right;
        }
    }

    .content {
        width: $content-width-md;
        margin: unset;
        @include ltr {
            padding-left: $content-side-padding-md;
        }
        @include rtl {
            padding-right: $content-side-padding-md;
        }
    }
}

@include breakpoint-xmd {
    .content {
        width: $content-width-xmd;
        @include ltr {
            padding-left: $content-side-padding-xmd;
        }
        @include rtl {
            padding-right: $content-side-padding-xmd;
        }
    }
}

@include breakpoint-lg {
    .content {
        width: $content-width-lg;
        @include ltr {
            padding-left: $content-side-padding-lg;
        }
        @include rtl {
            padding-right: $content-side-padding-lg;
        }
    }   
}